<div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
    <div class="sm:mx-auto sm:w-full sm:max-w-sm">
      <img class="mx-auto h-10 w-auto" src="https://tailwindui.com/plus/img/logos/mark.svg?color=indigo&shade=600" alt="Your Company">
      <h2 class="mt-10 text-center text-2xl/9 font-bold tracking-tight text-gray-900">Créez votre compte</h2>
    </div>
  
    <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="space-y-6">
        <div>
          <label for="email" class="block text-sm/6 font-medium text-gray-900">Adresse mail</label>
          <div class="mt-2">
            <input id="email" formControlName="email" type="email" autocomplete="email" required 
              class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm/6">
          </div>
          <div *ngIf="email?.invalid && (email?.dirty || email?.touched)" class="text-red-500 text-sm mt-1">
            <div *ngIf="email?.errors?.['required']">L'email est requis</div>
            <div *ngIf="email?.errors?.['email']">L'email n'est pas valide</div>
          </div>
        </div>
  
        <div>
            <label for="password" class="block text-sm/6 font-medium text-gray-900">Mot de passe</label>
            <div class="mt-2">
                <input id="password" formControlName="password" type="password" autocomplete="new-password" required 
                class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm/6">
            </div>
            <div *ngIf="password?.invalid && (password?.dirty || password?.touched)" class="text-red-500 text-sm mt-1">
                <div *ngIf="password?.errors?.['required']">Le mot de passe est requis</div>
                <div *ngIf="password?.errors?.['minlength']">Le mot de passe doit contenir au moins 6 caractères</div>
            </div>
        </div>

        <div>
            <label for="confirmPassword" class="block text-sm/6 font-medium text-gray-900">Confirmer le mot de passe</label>
            <div class="mt-2">
                <input id="confirmPassword" formControlName="confirmPassword" type="password" required 
                class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm/6">
            </div>
            <div *ngIf="confirmPassword?.invalid && (confirmPassword?.dirty || confirmPassword?.touched)" class="text-red-500 text-sm mt-1">
                <div *ngIf="confirmPassword?.errors?.['required']">La confirmation du mot de passe est requise</div>
                <div *ngIf="confirmPassword?.errors?.['passwordMismatch']">Les mots de passe ne correspondent pas</div>
            </div>
        </div>
  
        <div>
          <button type="submit" [disabled]="!registerForm.valid"
            class="flex w-full justify-center rounded-md bg-indigo-600 px-3 py-1.5 text-sm/6 font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
            S'inscrire
          </button>
        </div>
      </form>
  
      <p class="mt-10 text-center text-sm/6 text-gray-500">
        Déjà inscrit ?
        <a routerLink="" class="font-semibold text-indigo-600 hover:text-indigo-500">Connectez-vous</a>
      </p>

  

    </div>
  </div>