<div class="m-15 flex flex-col justify-center">
  <h1 class="text-3xl py-5">All tasks:</h1>

  <div *ngIf="message" class="text-gray-500">{{ message }}</div>

  <div *ngIf="tasks.length === 0 && !message" class="text-red-500">
    No tasks available.
  </div>

  <div *ngIf="tasks.length > 0" class="flex flex-wrap gap-3">
    <tm-task-card
      *ngFor="let task of tasks"
      [id]="task.id"
      [title]="task.title"
      [description]="task.description"
      [status]="task.status"
      [date]="task.date" ></tm-task-card>
  </div>
</div>
