
    <div class="m-15 flex flex-col justify-center">
      <h1 class="text-3xl py-5">All tasks:</h1>
      
      <button 
        (click)="toggleFilter()" 
        class="px-4 py-2 rounded-lg mb-4 w-fit"
        [class]="showMyTasks ? 'bg-blue-500 text-white' : 'bg-gray-200'"
      >
        {{ showMyTasks ? 'Show All Tasks' : 'Show My Tasks' }}
      </button>

      <p class="text-gray-500" *ngIf="message">{{ message }}</p>
      
      <p class="text-red-500" *ngIf="filteredTasks.length === 0 && !message">
        No tasks available.
      </p>
      
      <div class="flex flex-wrap gap-3" *ngIf="filteredTasks.length > 0">
        <tm-task-card
          *ngFor="let task of filteredTasks"
          [title]="task.title"
          [description]="task.description"
          [status]="task.status"
          [id]="task.id"
          [date]="task.date"
          [author]="task.author"
        ></tm-task-card>
      </div>
    </div>